@media only screen and (max-width: 600px) {
  body {
        font-size: .9em;
        color: #6e7898;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
}
@media only screen and (max-width: 600px) {
h1 {
    font-size: 3em;
}
}
@media only screen and (max-width: 600px) {
h3 {
    font-size: 2.5em;
}
}
@media only screen and (max-width: 600px) {
h4 {
    font-size: 1.75em;
}
}
@media only screen and (max-width: 600px) {
h6 {
    font-size: 1.25em;
}
}
@media only screen and (max-width: 600px) {
section {
    padding-top: 70px;
    padding-bottom: 70px;
}
}
@media only screen and (max-width: 600px) {
.spce {
    clear: both;
    height: 5px;
    width: 100%;
}
}
@media only screen and (max-width: 600px) {
.owl-carousel .owl-item img {
    display: block;
    width: auto;
}
}
@media only screen and (max-width: 600px) {
.owl-carousel .owl-item{
        width: 170px;
    margin-right: 10px;
}
}
/*@media only screen and (max-width: 600px) {
h2 {
    font-size: 2.5em;
}
}
@media only screen and (max-width: 600px) {
h5 {
    font-size: 2.5em;
}
}*/

/*header*/
@media only screen and (max-width: 600px) {
.navbar-custom .navbar-toggler {
        color: rgba(255, 255, 255, 0.86);
    border-color: none;
    }
}
@media only screen and (max-width: 600px) {
.navbar-custom .navbar-toggler-icon i{
    font-size: 30px;
}
}
@media only screen and (max-width: 600px) {
.navbar-custom {
    padding: 35px 15px;
    }
}
@media only screen and (max-width: 600px) {
.navbar.scrolled {
    padding: 20px 15px;
    }
}
@media only screen and (max-width: 600px){
.navbar.scrolled .navbar-toggler-icon i {
    font-size: 30px;
    color: black;
}
}
@media only screen and (max-width: 600px) {
#home .hero-content {
    margin-left: 0px;
}
}
@media only screen and (max-width: 600px) {
#home img{
    margin-top: 50px;
}
}
@media only screen and (max-width: 600px) {
#home  .intro-text .btn-holder img{
    margin-top: 0px;
}
}
@media only screen and (max-width: 600px) {
.hero.style-wave-2 {
    padding-bottom:40px;
}
}
/*counter section starts*/
@media only screen and (max-width: 600px) {
.counter {
    text-align: center;
}
}
@media only screen and (max-width: 600px) {
.counter .count-item {
    display: block;
        margin-bottom: 35px;
}
}

@media only screen and (max-width: 600px) {
.counter .count-icon span {
    margin-right: 0px;
    font-size: 30px;
}
}
@media only screen and (max-width: 600px) {
.counter .count-desc h4{
    font-size: 1.75em;
}
}
@media only screen and (max-width: 600px) {
.counter .count-desc {
    margin-top: 10px;
}
}

/*feature section starts*/
@media only screen and (max-width: 600px) {
.feature h3 {
    font-size: 2.5em;
    line-height: 1.3;
}
}
@media only screen and (max-width: 600px) {
.feature .feature-item p {
    font-size: .9rem;
}
}
@media only screen and (max-width: 600px) {
.feature .section-text {
    margin: 0 auto 40px auto;
    }
}
@media only screen and (max-width: 600px) {
.feature .feature-item .item {
    margin-bottom: 15px;
    }
}

@media only screen and (max-width: 600px) {
.container {
    padding-left: 30px;
    padding-right: 30px;
}
}
@media only screen and (max-width: 600px) {
.feature-extend .try {
    font-size: 12px;
    }
}
@media only screen and (max-width: 600px) {
.feature .section-text {
    max-width: 750px;
    margin: 0 auto 40px auto;
    }
}

/*track section starts*/
@media only screen and (max-width: 600px) {
.track-time .pt-120 {
    padding-top: 0px;
}
}
@media only screen and (max-width: 600px) {
.track-time .track h2 {
   font-size: 2.5em;
}
}
@media only screen and (max-width: 600px) {
.track-time .track .track-item {
    display: block;
    margin-bottom: 20px;
}
}
@media only screen and (max-width: 600px) {
.track-time .track .track-item .track-icon {
    padding-top: 10px;
    padding-bottom: 10px;
}
}
@media only screen and (max-width: 600px) {
.track-time{
   text-align: center;
}
}


/*stop section starts*/
@media only screen and (max-width: 600px) {
.stop .stop-sec1 {
	text-align: center;
    padding-right: 0px;
    padding-top: 0px;
}
}
@media only screen and (max-width: 600px) {
.stop .stop-sec1 h3 {
    font-size: 2.5em;
    line-height: 1.3;
        margin-top: 10px;
}
}
@media only screen and (max-width: 600px) {
.btn {
	    font-size: 12px;
}
}
@media only screen and (max-width: 600px) {
.btn-grp {
	    display: inline-flex;
	        margin-top: 0px !important;
	        margin-bottom: 20px;
}
}
@media only screen and (max-width: 600px) {
.stop .stop-sec1 .try1 span {
    font-size: 14px;
    }
}
@media only screen and (max-width: 600px) {
.stop .stop-sec1 .try1 {
    color: white;
    padding: 6px 16px;
    }
}


@media only screen and (max-width: 600px) {
.stop2 .stop-sec1 {
    padding-right: 0px;
    padding-left: 0px;
}
}
@media only screen and (max-width: 600px) {
.stop .stop-sec1 .try2 span {
    font-size: 12px;
    }
}

/*interface section starts*/
@media only screen and (max-width: 600px) {
.interface .section-text h3 {
    font-size: 2.5em;
}
}
@media only screen and (max-width: 600px) {
.interface .section-text h3 {
    font-size: 2.5em;
}
}
@media only screen and (max-width: 600px) {
.interface .section-text h3 {
    font-size: 2.5em;
}
}
@media only screen and (max-width: 600px) {
.interface .section-text h3 {
    font-size: 2.5em;
}
}

/*pricing */
@media only screen and (max-width: 600px) {
	.pricing h3{
    margin-left: -15px;
    margin-right: -15px;
    }
}
@media only screen and (max-width: 600px) {
	.pricing .card-price {
        font-size: 2rem;
    }
}

/*testimonials starts*/
@media only screen and (max-width: 600px) {
	.testimonial .content p {
       font-size: 0.92rem;
    }
}
@media only screen and (max-width: 600px) {
	.testimonial .pic {
    width: 25%;
    /* text-align: center; */
    margin-left: 40px;
    position: absolute;
    right: 9px;
    bottom: 16px;
}
}

/*get it now section starts*/
@media only screen and (max-width: 600px) {
	.get-now:before {
    position: absolute;
    background: no-repeat;
    background-attachment: fixed;
}
}

/*news starts*/
@media only screen and (max-width: 600px) {
	.news .news-item {
    box-shadow: 0 0 45px rgba(0,0,0,.1);
    transition: 1s;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 600px) {
.news .news-item .news-desc {
    padding: 10px 35px 15px 20px;
}
}

/*faq starts*/
@media only screen and (max-width: 600px) {
.faq .faq-box .faq-acc {
        width: 90%;
    margin: auto;
}
}
@media only screen and (max-width: 600px) {
.faq .panel-default .panel-body p {
    font-family: 'open sans', sans-serif;
    margin: 0 0 10px;
    font-size: 14px;
    color: #6e7898;
}
}

/*contact section*/
@media only screen and (max-width: 600px) {
.contact .contact-container {
    padding-left: 0px; 
   padding-right: 0px;
}
}

/*footer section starts*/
@media only screen and (max-width: 600px) {
.footer .subscribe-box h3 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 1.6;
}
}
@media only screen and (max-width: 600px) {
.footer .subscribe-box .form-group .sub-btn {
    padding: 6px 12px;
    top: 3px;
    right: 3px;
    font-size: 14px;
    color: #fff;
    background: #b44ee8;
    position: absolute;
}
}
@media only screen and (max-width: 600px) {
.footer .subscribe-box .form-group input {
    height: 43px;
}
}
@media only screen and (max-width: 600px) {
.footer-item{
	    margin-top: 15px;
}
}

@media only screen and (max-width: 600px) {
.footer .footer-bottom .footer-item h6 {
    margin-bottom: 5px;
    }
}
@media only screen and (max-width: 600px) {
.pt-120 {
    padding-top: 75px;
}
}
@media only screen and (max-width: 600px) {
.footer .footer-bottom .footer-item .social-links ul {
    margin-top: 20px;
    }
}